= semantic_form_for [@character,@relation] do |f|
  = f.inputs do
    =f.input :towards, :collection => Character.all_but(@character), :allow_blank => false
    =f.input :short
    =f.input :description

  = f.buttons
